<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Carro</title>
</head>
<body>
    <h1>Editar Carro</h1>
    
    <form action="#" th:action="@{/car/save}" th:object="${car}" method="POST">
        
        <input type="hidden" th:field="*{id}" />
        
        <div>
            <label>Marca:</label>
            <input type="text" th:field="*{marca}" required />
        </div>
        
        <div>
            <label>Modelo:</label>
            <input type="text" th:field="*{modelo}" required />
        </div>
        
        <div>
            <label>Ano:</label>
            <input type="number" th:field="*{ano}" required />
        </div>
        
        <button type="submit">Atualizar Carro</button>
        <a th:href="@{/car}">Cancelar</a>
    </form>
</body>
</html>